* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-content::-webkit-scrollbar {
    width: 8px;
    background-color: #CCCCCC;
}

.body-content::-webkit-scrollbar-thumb {
    background: #205c74;
    border-radius: 8px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

#authorLink a:link, a:visited {
    text-decoration: none;
}

#authorLink a:hover {
    text-decoration: underline;

}

#authorLink a:active {
    text-decoration: none;
}