* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-fixo {
    position: fixed;
    background-color: #ff7f50;
    width: 100%;
    height: 32px;
    top: 0;
}

.conteudo1,
.conteudo2,
.conteudo3 {
    width: 80%;
    height: 40%;
    margin: 12px;
    padding: 12px 0 12px 12px;
}

.conteudo1 {
    background-color: #FAEFD7;
    border-radius: 5px;
    position: relative;
    top: 50px;
    left: 200px;
}

.quadrado {
    background-color: #a52a2a;
    border: 1px solid #adff2f;
    position: absolute;
    right: 0;
    top: 0;
}

.circulo {
    width: 10%;
    height: 20%;
    background-color: #AC8F83;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.conteudo2 {
    background-color: #800080;
    border-radius: 5px;
    left: 100px
}

.conteudo3 {
    background-color: #00ffff;
    border-radius: 5px;
}

.filhote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filhote ul li:first-child {
    color: #ff0000;
}

.filhote ul li:nth-child(2) {
    color: #0000ff;
}

.filhote ul li:last-child {
    color: #00ff1e;
}